    .Register {
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    
      .Register-Background{
        background-color: black;
      }

      body {
        padding: 0;
        margin: 0;
      }
      
      .formContainer {
        margin-top: 30px;
        display: flex; 
        flex-direction: column;
        border-radius: 5px;
        align-content: flex-end;
        justify-content: center;
        align-items: center;
        height: auto;
      }
      
      .input-field {
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 50px; 
        padding-left: 20px;
        font-size: 20px;
        width: 50%;
      }
      
      .formContainer button {
        margin-top: 15px;
        height: 40px;
        border: none;
        background-color: dodgerblue;
        border-radius: 5px;
        color: white;
        margin: 45px 0;
        width: 50%;
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
      }
      
      .formContainer button:hover {
        cursor: pointer;
        background-color: rgb(0, 128, 255);
      }
      
      .text-column-container h4{
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        line-height: 4rem;
        align-items: center;
        width: 100%;
        cursor: default;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        margin-bottom: 0;
      }

      .text-column-container h6{
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 28px;
        width: 100%;
        color: white;
        font-family: 'Lexend', sans-serif;
        font-size: 1.7rem;
        margin-top: 20px;
      }

      .text-column-container h1{
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 15px;
        width: 100%;
        color: white;
        font-size: 1rem;
        font-family: 'Lexend', sans-serif;
      }