nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: lightblue;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
}