.footer {
    width: 100%;
    height: 200%;
    background: #FEB139; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    white-space: nowrap;
    padding: 0.3rem;
  }