/* --------------------  */
/* -- General styles    */
/* ------------------- */

.row {
    display: flex;
    justify-content: space-between;
}

.row.center {
    align-items: center;
}

.col-1 {
    flex: 1;
}
  
.col-2 {
    flex: 2;
}

.block {
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }


/* -------------------------- */
/* -- Specific components    */
/* ------------------------ */

.form-login {
    position: fixed;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 40%;
}


.menu-1,.order,.contact,.about-btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #080807;
    border: none;
    border-radius: 15px;
  }

  .contact-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #080807;
    border: none;
    border-radius: 15px;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 0;
    margin-top: 0.5em;
  }

  .login{
    margin-left: 11.3in;
  }

.logo:hover {
    background-color: #b4710c;
}
  
.order:hover {
    background-color: #b4710c;
}
.menu-1:hover {
    background-color: #b4710c;
}
.contact:hover {
    background-color: #b4710c;
}

.about-btn:hover {
    background-color: #b4710c;
}

.logo{
    border: none;
    background-color: rgb(197, 165, 95);
}

.map  {
    width: 500px;
    height: 500px;
    margin-top: 15ch;
    float: right;
}

.about {
    width: 600px;
    height: 600px;
    margin-top: 15ch;
    float: right;
}

li{
    list-style-type: none;
    font-size: 1rem; 
}


/* --------------- */
/* -- For Cart    */
/* ------------- */

.cart-btn {
    margin: 0.5rem;
    cursor: pointer;
}

.add-cart-btn {
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #404040 solid;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
}

.add-cart-btn.add {
    background-color: #40c0f0;
    width: 1.5rem;
  }
  
.add-cart-btn.remove {
    background-color: #f04040;
    width: 1.5rem;
}

.add-cart-btn.badge {
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
}

.text-right {
    text-align: right;
}



/* ---------------- */
/* -- For Login    */
/* -------------- */

.login-btn {
    margin-bottom: 140%;
}

.btn-login {
    margin-left: 1in;
}






