@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.Yelpreviews {
  font-size: xx-small;
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  z-index:-1;
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.intro .intro-header {
  height: 100vh;
  width:100vw;
  padding-top: 15rem; 
  background-color: rgba(0,0,0,0.5);
}
.intro h1 {
  font-family: 'Cinzel', serif;
  font-size: 8rem;
  margin-bottom: 0.75rem;
  white-space: nowrap;
  color: #fff;
}
.intro p {
  font-size: 2rem;
  color: #fff;
  white-space: nowrap;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}

.intro-header h3{
  color: white;
  white-space: wrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

@media (max-width: 650px) {
  html { font-size: 12px; }
  .intro-header { padding: 1.5rem 2rem;}
  .intro-header h3 { font-size: 1.4rem;}
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem;}
  .intro .intro-header{height: 91vh;}
}